@charset "utf-8";

body {
  margin: 0;
}

header {
  padding: 32px 0;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

p {
  margin: 0;
}


footer {
  text-align: center;
  padding: 32px 0;
}

small {
  
  font-size: 14px;
}


.container {
  width: calc(100% - 64px);
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
  /* border: 1px solid lightblue; */
}


.section{
  display: flex;
  column-gap: 32px;
  row-gap: 32px;
  padding-top: 32px;
  flex-wrap: wrap;
}

div section {
  width: calc((100% - 64px) / 3);
  box-sizing: border-box;
}

section img {
  width: 100%;
  height: auto;
}

.product-description:hover {
  opacity: .5;
}

a {
  text-decoration: none;
  color: #333;
}

.footer-container {
  text-align: center;
}